language: python
python:
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev

# command to install dependencies
install:
  - pip install MongoBox
  - pip install coverage
  - python setup.py install

# command to run tests
script: coverage run -m unittest discover

# Codecov.io integration
before_install:
  - pip install codecov

after_success:
  - codecov